{
  "parser": "@babel/eslint-parser",
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint:recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ],
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  },
  "rules": {
    "object-curly-newline": ["error", {
      "ImportDeclaration": "never"
    }],
    "init-declarations": ["error", "always"],
    "prefer-destructuring": ["error", {
      "VariableDeclarator": {
        "array": true,
        "object": true
      },
      "AssignmentExpression": {
        "array": true,
        "object": false
      }
    }, {
      "enforceForRenamedProperties": true
    }],
    "no-unused-vars":"error",
    "no-undefined": "off",
    "no-empty-function": [
      "error",
      {
        "allow": ["arrowFunctions"]
      }
    ],
    "prefer-named-capture-group": "error",
    "no-underscore-dangle": "off",
    "arrow-body-style": "off",
    "comma-dangle": "off",
    "no-implicit-coercion": "off",
    "no-use-before-define": "error",
    "import/no-named-default": "off",
    "import/no-unresolved": "off",
    "import/order": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "react-hooks/exhaustive-deps": "error",
    "react/display-name": "error",
    "react/forbid-prop-types": "off",
    "react/jsx-sort-default-props": "error",
    "react/jsx-curly-brace-presence": [
      "error",
      {
        "props": "never",
        "children": "ignore"
      }
    ],
    "react/jsx-filename-extension": "off",
    "react/jsx-no-bind": "error",
    "react/jsx-no-literals": [
      "error",
      {
        "ignoreProps": true
      }
    ],
    "react/jsx-no-useless-fragment": "error",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-sort-props": "off",
    "react/no-multi-comp": "error",
    "no-nested-ternary": "off",
    "linebreak-style": 0,
    "sort-imports": "off",
    "space-infix-ops": "off"
  }
}
